<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- id一般也叫做bean的名称 -->
    <!-- 根据名字进行自动装配的时候，被注入的对象的bean的id不能随便写，怎么写？set方法的方法名去掉set，剩下单词首字母小写 -->
    <bean id="orderDao" class="com.yuan.spring6.dao.OrderDao"></bean>

    <!-- 根据名字进行自动装配 -->
    <!-- 注意：自动装配也是基于set方式实现的 -->
    <bean id="orderServiceByName" class="com.yuan.spring6.service.OrderService" autowire="byName"/>


    <!-- 根据类型进行自动装配 -->
    <!-- 注意：自动装配也是基于set方式实现的 -->
    <!-- 根据类型进行自动装配的时候，在有效的配置文件中，某种类型的实例只能有一个 -->
    <bean id="orderServiceByType" class="com.yuan.spring6.service.OrderService" autowire="byType"/>
</beans>