<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="xiaoMingBean" class="com.yuan.spring6.bean.XiaoMing">
        <!--数组的元素属性是String，简单类型，使用value赋值-->
        <property name="aihaos">
            <array>
                <value>唱</value>
                <value>跳</value>
                <value>rap</value>
                <value>篮球</value>
            </array>
        </property>

        <!-- 数组的元素不是简单类型，使用ref赋值 -->
        <property name="users">
            <array>
                <ref bean="user1"/>
                <ref bean="user2"/>
            </array>
        </property>
    </bean>

    <bean id="user1" class="com.yuan.spring6.bean.User">
        <property name="name" value="张三"/>
        <property name="age" value="12"/>
        <property name="password" value="123"/>
    </bean>
    <bean id="user2" class="com.yuan.spring6.bean.User">
        <property name="name" value="李四"/>
        <property name="age" value="13"/>
        <property name="password" value="123"/>
    </bean>
</beans>